@model IEnumerable<PortlogMVC.Models.ImportacionViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Importacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalidaPrevista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalidaPrevista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ImpId = Model.IdImp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
