@model IEnumerable<PortlogDominio.EntidadesNegocio.Producto>

@{
    ViewBag.Title = "Index";
}

<h2> Productos </h2>

<p>
    @Html.ActionLink("Crear nuevo Producto", "Create")
</p>

<h3 style="color:red"> @ViewBag.vacio </h3>
<table class="table">
    <tr>
        <th> Codigo </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            RUT Cliente
        </th>
        <th>
            Nombre Cliente
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td> @item.Codigo</td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td> @item.Cliente.Rut </td>

        <td> @item.Cliente.Nombre </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
            @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
        </td>
    </tr>
}

</table>
